<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fwdrobo.sirius.mapper.JobInputMapper">

    <delete id="deleteByJobId">
        DELETE FROM public.job_input
        WHERE job_id = #{jobId}
    </delete>

    <insert id="insert">
        INSERT INTO public.job_input
            (job_id, input_repo_id, params)
        VALUES
            (#{jobId},
             #{repoId},
             CAST(#{paramsJson} AS jsonb))
    </insert>

</mapper>
